@import "tailwindcss";
@plugin '../hero.ts';

@theme {
	--font-sans: "Inter", sans-serif;
}

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}
